<footer *ngIf="todos.length > 0" class="footer">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"><strong>{{ activeCount }}</strong> item{{ activeCount !== 1 ? 's' : '' }} left</span>
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li>
      <a [class.selected]="allSelected" href="#/">All</a>
    </li>
    <li>
      <a [class.selected]="activeSelected" href="#/active">Active</a>
    </li>
    <li>
      <a [class.selected]="completedSelected" href="#/completed">Completed</a>
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button *ngIf="hasCompletedTodos" class="clear-completed" (click)="clearCompletedTodos()">Clear completed</button>
</footer>
