<li [ngClass]="{ completed: todo.completed, editing: editMode }">
  <div class="view">
    <input class="toggle" type="checkbox" [checked]="todo.completed" (change)="toggleCompletedState()">
    <label (dblclick)="beginEdit()">{{ todo.title }}</label>
    <button class="destroy" (click)="destroyItem()"></button>
  </div>
  <input #editFld class="edit"
         [value]="editText" (keyup.enter)="endEdit()" (keyup.escape)="cancelEdit()"
         (blur)="endEdit()"
         (change)="editText = editFld.value"
  >
</li>
